/* FONTS */

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("./fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("./fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
ul li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Overall styles */

:root {
  --body-bg-color: #FFFFFF;
  --cross-color: #545454;
  --game-board-color: #14BDAC;
  --game-cell-border-color: #0DA192;
  --active-button-color: #121212;
  --nought-color: #F2EBD3;
  --player-bg-color: #FFFFFF;
  --player-border-color: #DADCE0;
  --player-symbol-color: #FFFFFF;
  --text-color: #70757A;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.button {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  color: var(--active-button-color);
}

/* Header styles */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 10px;
}

.header__game-mode-choice-wrapper {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.header__game-mode-choice-title {}

.header__game-mode-choice {}

.header__game-modes-list {
  display: flex;
  gap: 1ch;
}

.header__game-mode-button {}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #121212;
    --cross-color: #545454;
    --game-board-color: #14BDAC;
    --game-cell-border-color: #0DA192;
    --active-button-color: #DADCE0;
    --nought-color: #F2EBD3;
    --player-bg-color: #202124;
    --player-border-color: #3C4043;
    --player-symbol-color: #000000;
    --text-color: #9AA0A6;
  }
}